{% extends 'base.html' %}

{% block headtitle %}
  Tweetme 2
{% endblock headtitle %}

{% block content %}
  <div class="row">
    <div class="col text-center">
      <h1>Welcome to Tweetme 2</h1>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
      <form class="form" action="/create-tweet" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="/">
        <textarea class="form-control" name="content" placeholder="Your teeet..."></textarea>
        <button class="btn btn-primary" type="submit">Tweet!</button>
      </form>

    </div>

  </div>

    <div class="row "id="tweets">
      Loading...
    </div>

  <script>
    const tweetsElement = document.getElementById("tweets")
    //tweetsElement.innerHTML = 'Loading...'
    function handleDidLike(tweet_id, currentCount){
      console.log(tweet_id, currentCount)
    }

    function LikeBtn(tweet){
      return "<button class='btn btn-primary' onclick=handleDidLike(" + tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Likes</button>"
    }
    function formatTweetElement(tweet) {
      var formatedTweet = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 id='tweet-" +tweet.id +"'>"+"<p>"+ tweet.content+ "</p>" +
      "<div class='btn-group'>" + LikeBtn(tweet) + "</div>" +
      "</div>"
      return formatedTweet
    }
    const xhr = new XMLHttpRequest()
    const method = 'GET' // "POST"
    const url = '/tweets'
    const responseType = 'json'

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
      const serverResponse = xhr.response
      const listedItems = serverResponse.response
      var finalTweetStr = ""
      var i
      for (i=0; i<listedItems.length; i++){
        var tweetObj = listedItems[i]
        finalTweetStr += formatTweetElement(tweetObj)
      }
      tweetsElement.innerHTML = finalTweetStr
      console.log(listedItems)
    }
    xhr.send()

  </script>
{% endblock content %}
